<!-- <section id="projects" class="py-5 bg-light"> -->
<div class="container text-center mt-5">
    <h2 class="section-heading mb-5">Projects</h2>
    <div class="row g-4">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Shopify Excel Upload System</h5>
                    <p class="card-text">Developed and executed automated test cases, identified bugs, and
                        improved test cycle efficiency.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Quotation Excel Upload System</h5>
                    <p class="card-text">Conducted regression and performance testing, reducing system downtime
                        by 15%.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Advance Planning & Scheduling - Complete Module</h5>
                    <p class="card-text">Conducted regression and performance testing, reducing system downtime
                        by 15%.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Purchase Order Automation and Integration</h5>
                    <p class="card-text">Conducted regression and performance testing, reducing system downtime
                        by 15%.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- </section> -->