<section id="skills" class="py-5 bg-light">
    <div class="container text-center mt-5">
        <h2 class="section-heading mb-5">Skills</h2>
        <div class="row g-4">

            <!-- Testing Tools -->
            <div class="col-md-4 d-flex">
                <div class="border p-4 rounded shadow-sm w-100 bg-white">
                    <h4 class="mb-4">
                        <div class="icon-box bg-primary bg-opacity-10 text-primary mb-4 mx-auto rounded-circle">
                            <i class="fas fa-tools" style="font-size: 2rem;"></i>
                        </div>
                        Testing Tools
                    </h4>
                    <div class="d-flex flex-wrap justify-content-center align-items-center gap-4">
                        <div class="skill-item text-center">
                            <img width="40" height="40"
                                src="/Images/selenium.png" alt="Selenium">
                            <p class="mt-2 mb-0">Selenium</p>
                        </div>
                        <div class="skill-item text-center">
                            <img src="Images/jira.png" alt="jira" />
                            <p class="mt-2 mb-0">Jira</p>
                        </div>
                        <div class="skill-item text-center">
                            <img src="/Images/postman.png" alt="Postman">
                            <p class="mt-2 mb-0">Postman</p>
                        </div>
                        <!-- <div class="skill-item text-center">
                                <i class="fas fa-stream fa-2x text-info"></i>
                                <p class="mt-2 mb-0">TestRail</p>
                            </div> -->
                        <div class="skill-item text-center">
                            <img src="Images/confluence.png" alt="confluence" />
                            <p class="mt-2 mb-0">Confluence</p>
                        </div>
                        <div class="skill-item text-center">
                            <i class="fab fa-git-alt fa-2x text-danger"></i>
                            <p class="mt-2 mb-0">Git</p>
                        </div>
                        <div class="skill-item text-center">
                            <img src="Images/github.png" alt="github" />
                            <p class="mt-2 mb-0">Github</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Programming Languages -->
            <div class="col-md-4 d-flex">
                <div class="border p-4 rounded shadow-sm w-100 bg-white">
                    <div class="icon-box bg-success bg-opacity-10 text-success mb-4 mx-auto rounded-circle">
                        <i class="fas fa-code fa-2x"></i>
                    </div>
                    <h4 class="mb-4 card-title">Programming</h4>
                    <div class="d-flex flex-wrap justify-content-center align-items-center gap-4">
                        <div class="skill-item text-center">
                            <img src="/Images/java.png" alt="java" />
                            <p class="mt-2 mb-0">Java</p>
                        </div>
                        <div class="skill-item text-center">
                            <img src="/Images/python.png" alt="python" />
                            <p class="mt-2 mb-0">Python</p>
                        </div>
                        <div class="skill-item text-center">
                            <img src="/Images/sql.png" alt="sql" />
                            <p class="mt-2 mb-0">SQL</p>
                        </div>
                        <div class="skill-item text-center">
                            <img src="/Images/javascript.png" alt="javascript" />
                            <p class="mt-2 mb-0">JavaScript</p>
                        </div>
                        <div class="skill-item text-center">
                            <img src="/Images/c-sharp.png" alt="c-sharp" />
                            <p class="mt-2 mb-0">c#</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Testing Types -->
            <div class="col-md-4 d-flex">
                <div class="border p-4 rounded shadow-sm w-100 bg-white">
                    <div class="icon-box bg-success bg-opacity-10 text-success mb-4 mx-auto rounded-circle">
                        <i class="fa-regular fa-square-check fa-2x" style="color: #0ab226;"></i>
                    </div>
                    <h4 class="mb-4 card-title">Testing Types</h4>

                    <div class="row">
                        <div class="col-12">
                            <div class="d-flex flex-wrap justify-content-center gap-2">
                                <span class="badge bg-light-blue rounded-pill text-dark px-3 py-2 border">Manual
                                    Testing</span>
                                <span class="badge rounded-pill bg-light-blue text-dark px-3 py-2 border">Automation
                                    Testing</span>
                                <span class="badge rounded-pill bg-light-blue text-dark px-3 py-2 border">Regression
                                    Testing</span>
                                <span class="badge rounded-pill bg-light-blue text-dark px-3 py-2 border">Performance
                                    Testing</span>
                                <span class="badge rounded-pill bg-light-blue text-dark px-3 py-2 border">End-to-End
                                    Testing</span>
                                <span class="badge rounded-pill bg-light-blue text-dark px-3 py-2 border">Functional
                                    Testing</span>
                                <span class="badge rounded-pill bg-light-blue text-dark px-3 py-2 border">API
                                    Testing</span>
                                <span class="badge rounded-pill bg-light-blue text-dark px-3 py-2 border">Security
                                    Testing</span>
                                <span class="badge rounded-pill bg-light-blue text-dark px-3 py-2 border">Usability
                                    Testing</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>